DATABASE_URL="postgresql://USERNAME:PASSWORD@192.0.0.15:5432/mentis_sales_and_production_planning_and_tracking"
NEXT_PUBLIC_APP_NAME="Mentis Sales and Production Planning"
MENTIS_DEFAULT_STREAM="Rectagrid"
MENTIS_ALLOWED_DEV_ORIGINS="192.0.0.154,https://episode-introduce-astronomy-brilliant.trycloudflare.com"
